* {
    box-sizing: border-box;
    text-align: center;
}

header {
    background: #ebebeb;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 10px;
}

.whole {

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    overflow: auto;
}

h1 p {
    background: #ebebeb;
    color: #777;
}

aside{
    padding: 10px;
    float: left;
    background: #ebebeb;
    margin-left: 14px;
    margin-top: 14px;
    width: 451px;
    height: 267px;
}

article {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background: #ebebeb;
}

section {
    float: left;
    text-align: center;
    background: #ebebeb;
    width: 495px;
}

nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebebeb;
}

a {
    float: left;
}

a {
    display: block;
    color: #777;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.one {
    width: 33%;
}

.two {
    width: 34%;
}

.three {
    width: 33%;
}

a:hover {
    background-color: gray;
    opacity: 50%;
}

footer {
    float: left;
    background: #ebebeb;
    height: 90px;
    margin-top: 10px;
    padding: 32px;
    width: 100%;
}